.page-container {
  display: grid;
  justify-content: center;

  // first column is 1 fractional unit, 2nd column is 3 fractional units.
  grid-template-columns: 3fr 1fr;

  grid-template-rows: 1fr 1fr;
  // Gaps between grid columns and rows
  grid-gap: 1em;

  padding: 1em;
}
.sm-cards-container {
  display: flex;
  justify-content: space-evenly;

  grid-column: 1;
  grid-row: 1;

  position: relative;

  background: lighten($background-color, 3);
}

.history-container {
  grid-column: 1;
  grid-row: 2;

  position: relative;

  background: lighten($background-color, 3);
}

.scores-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1em;
  grid-column: 2;
  grid-row: 1/3;

  position: relative;

  background: lighten($background-color, 3);
}

.score-container {
  width: 33%;
  height: 25%;
}

.container-label {
  position: absolute;
}
