.faq-container {
  display: flex;
  align-items: center;

  flex-direction: column;
  padding: 3em;
}

h1 {
  color: purple;
}

h2 {
  padding-bottom: 1em;
  color: purple;
}

section {
  padding: 1em;
  width: 70%;
}
