<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>FAQs</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/about.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm" style="text-align: center;">
            <span style="font-size: 100px;"> <b>FAQs</b> </span>
        </div>
    </div>
    <hr style="margin: 50px">
</div>
<div class="container">
    <h1>What is VApp?</h1>
    <p>VApp  is a platform designed with the goal to help you improve your digital literacy and keep you safe online.
        It started out as an idea for a capstone project by a group of students at McMaster University.</p>
    <h1>How does VApp work?</h1>
    <p>When you sign up and create an account on VApp, you will be able to add one of your social media accounts.
        We will analyze (but NOT store) some privacy settings from that social media account then inform you about
        the implications of those settings.</p>
    <h1>Which social medias do you support?</h1>
    <p>We currently support Facebook, Instagram and Twitter.</p>
    <h1>Why should we trust you?</h1>
    <p>In reality, you shouldn’t trust us - just like you shouldn’t trust any other company that uses your data!
        However, we are aiming to be as transparent and honest as possible. We commit to being a free and open-source
        software forever. We are simply students that are passionate about informing the general public about their
        digital security.</p>
    <h1>Where can I go if I want to find out more about my privacy or digital security?</h1>
    <p>There are tons of resources online and we do not recommend any specific program or source. Simply search for
        things like “digital security”, “digital security”, “digital privacy” and “online safety”.</p>
</div>
<div id="copyright" class="container">
    <p>Made with 🍌🔥 in Hamilton, ON by Script Kitties. &copy; 2019.</p>
</div>
</body>
<!-- Script to implement navbar functionality-->
<script type="text/javascript" src="../js/Navbar.js"></script>
</html>