<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VAPP</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="">
	<link href="css/home.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="icon" href="favicon.ico" />
</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><span class="fa fa-shield"></span><a href="/">VAPP</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="/signin" accesskey="1" title="">Sign In</a></li>
					<li><a href="/signup" accesskey="5" title="">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="header-featured">
		<div id="banner-wrapper">
			<div id="banner" class="container">
				<h2>INFORM THYSELF</h2>
				<p>Helping you improve your digital literacy to keep you safe online.</p>
				<a href="signup" class="button">GET STARTED</a>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="featured-wrapper">
			<div id="featured" class="extra2 container">
				<div class="main-title">
					<h2>Protect yourself online</h2>
					<span class="byline">Learn about how you may be vulnerable to online threats and attacks</span>
				</div>

				<div class="ebox1"> <span class="fa fa-cogs"></span>
					<div class="title">
						<h2>Settings & Implications</h2>
						<span class="byline">An implication for every setting</span>
					</div>
					<p>Have you ever wondered what all those privacy settings on Facebook mean? We'll tell you in plain English. Connect 
						your social media accounts to <strong>VAPP</strong> and learn about the implications of each of these settings.</p>
				</div>
				<div class="ebox2"> <span class="fa fa-signal"></span>
					<div class="title">
						<h2>Progress</h2>
						<span class="byline">Watch as your score increases</span>
					</div>
					<p>Keep track of your progress online when you use <strong>VAPP</strong>. See a history of your score and watch how
					you improve your digital security.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="copyright" class="container">
		<p>Made with 🍌🔥 in Hamilton, ON by Script Kitties. &copy; 2019.</p>
	</div>
</body>

</html>