<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>VApp</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="css/home.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" href="favicon.ico" />
  </head>

  <body>
    <div id="header-wrapper">
      <div id="header" class="container">
        <div id="logo">
          <h1><span class="fa fa-shield"></span><a href="/">VApp</a></h1>
        </div>
        <div id="menu">
          <ul>
            <li class="current_page_item">
              <a href="/signin" accesskey="1" title="">Sign In</a>
            </li>
            <li><a href="/signup" accesskey="5" title="">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="header-featured">
      <div id="banner-wrapper">
        <div id="banner" class="container">
          <h2>INFORM THYSELF</h2>
          <p>
            Helping you improve your digital literacy to keep you safe online.
          </p>
          <a href="signup" class="button">GET STARTED</a>
        </div>
      </div>
    </div>
    <div id="wrapper">
      <div id="featured-wrapper">
        <div id="featured" class="container">
          <div class="main-title">
		
          <div class="headers">
            <div>
              <h1>Protect yourself online</h1>
              <p>
                Learn about how you may be vulnerable to online threats and
                attacks
              </p>
            </div>
            <div>
              <h1>Become digitally secure</h1>
              <p>Take the necessary steps to keep yourself safe.</p>
            </div>
            <div>
              <h1>Make your privacy a priority</h1>
              <p>If you don't, who will?</p>
            </div>
		  </div>
	
          <div class="card-container">
            <div class="card-item">
              <div>
              <span class="fa fa-cogs"></span>
              <div class="title">
                <h2>Settings & Implications</h2>
                <span class="byline">AN IMPLICATION FOR EVERY SETTING</span>
              </div>
            </div>
              <p>
                Have you ever wondered what all those privacy settings on
                Facebook mean? We'll tell you in plain English. Connect your
                social media accounts to <strong>VApp</strong> and learn about
                the implications of each of these settings.
              </p>
            </div>

            <div class="card-item">
                <div>
              <span class="fa fa-signal"></span>
              <div class="title">
                <h2>Progress</h2>
                <span class="byline">WATCH AS YOUR SCORE INCREASES</span>
              </div>
              </div>
              <p>
                Keep track of your progress online when you use
                <strong>VApp</strong>. See a history of your score and watch how
                you improve your digital security.
              </p>
            </div>
            
            <div class="card-item">
              <div>
              <span class="fa fa-lock"></span>
              <div class="title">
                <h2>Safe & Secure</h2>
                <span class="byline">IMPOSSIBLE TO BREAK</span>
              </div>
              </div>
              <p>
                Your data will be secured from end-to-end - so even if we wanted
                to read your data, we couldn’t! We take it a step further by
                committing not to save any of your data.
              </p>
            </div>
          </div>
        </div>
        <blockquote class="blockquote text-center">
          <p class="mb-0">
            Arguing that you don't care about the right to privacy because you
            have nothing to hide is no different than saying you don't care
            about free speech because you have nothing to say.”
          </p>
          <footer class="blockquote-footer">
            <cite title="https://en.wikiquote.org/wiki/Edward_Snowden"
              >Edward Snowden</cite
            >
          </footer>
        </blockquote>
          <h1>Check out our <a style="color:#9C27B0" href="/faqs">F.A.Q.</a> for more!</h1>
      </div>
    </div>
    <div id="copyright" class="container">
      <p>Made with 🍌🔥 in Hamilton, Ontario by Script Kitties. &copy; 2019.</p>
    </div>
  </body>
</html>
