<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Settings</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/settings.css" rel="stylesheet">

    <!-- Script used for ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Script to handle cookies -->
    <script type="text/javascript" src="../js/CookieHandler.js"></script>
    <script type="text/javascript">checkCookie()</script>
</head>

<body onload="delegate()">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">App Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">HISTORY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ACCOUNT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
                <a id="signout" class="nav-link" href="/signout">SIGN OUT</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-with-padding-left">
    <div class="text-center">
        <h1 class="display-4">Twitter: <span></span></h1>
    </div>

    <div class="container">
        <div class="card" style="margin: 30px">
            <div class="card-header text-white bg-primary" id="setting-0" ><span class="value"></span></div>
            <div class="card-body">
                <h5 class="text-center"><u>Implications</u></h5>
                <p class="card-text" id="setting-0-imp"></p>
                <h5 class="text-center" id="setting-0-fix-header"><u>How to Fix</u></h5>
                <p class="card-text" id="setting-0-fix"></p>
            </div>
        </div>
        <div class="card" style="margin: 30px">
            <div class="card-header text-white bg-primary" id="setting-1"><span class="value"></span></div>
            <div class="card-body">
                <h5 class="text-center"><u>Implications</u></h5>
                <p class="card-text" id="setting-1-imp"></p>
                <h5 class="text-center" id="setting-1-fix-header"><u>How to Fix</u></h5>
                <p class="card-text" id="setting-1-fix"></p>
            </div>
        </div>
        <div class="card" style="margin: 30px">
            <div class="card-header text-white bg-primary" id="setting-2"><span class="value"></span></div>
            <div class="card-body">
                <h5 class="text-center"><u>Implications</u></h5>
                <p class="card-text" id="setting-2-imp"></p>
                <h5 class="text-center" id="setting-2-fix-header"><u>How to Fix</u></h5>
                <p class="card-text" id="setting-2-fix"></p>
            </div>
        </div>
    </div>
</div>
<div id="copyright" class="container">
    <p>Made with 🍌🔥 in Hamilton, ON by Script Kitties. &copy; 2019.</p>
</div>
</body>
<!-- Script used to import the settings text from database-->
<script type="text/javascript" src="../js/SettingsHandler.js"></script>
<!-- Script to implement navbar functionality-->
<script type="text/javascript" src="../js/Navbar.js"></script>
</html>