<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Settings example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/settings.css" rel="stylesheet">

    <!-- Script used for ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body onload="delegate()">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">App Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">HISTORY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ACCOUNT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SIGN OUT</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-with-padding-left">
    <div class="text-center">
        <h1 class="display-4">Twitter: <span></span></h1>
    </div>

    <div class="container">
        <div class="card" style="margin: 30px">
            <div class="card-header text-white bg-primary" id="setting-0-state" >Let others find you by your email address: <span class="value"></span></div>
            <div class="card-body">
                <h5 class="text-center"><u>Implications</u></h5>
                <p class="card-text" id="setting-0-imp"></p>
                <h5 class="text-center"><u>How to Fix</u></h5>
                <p class="card-text" id="setting-0-fix"></p>
            </div>
        </div>
        <div class="card" style="margin: 30px">
            <div class="card-header text-white bg-primary" id="setting-1-state">Tweet with a location (website), Precise Location (mobile app): <span class="value"></span></div>
            <div class="card-body">
                <h5 class="text-center"><u>Implications</u></h5>
                <p class="card-text" id="setting-1-imp"></p>
                <h5 class="text-center"><u>How to Fix</u></h5>
                <p class="card-text" id="setting-1-fix"></p>
            </div>
        </div>
        <div class="card" style="margin: 30px">
            <div class="card-header text-white bg-primary" id="setting-2-state">Protect your tweets from the public: <span class="value"></span></div>
            <div class="card-body">
                <h5 class="text-center"><u>Implications</u></h5>
                <p class="card-text" id="setting-2-imp"></p>
                <h5 class="text-center"><u>How to Fix</u></h5>
                <p class="card-text" id="setting-2-fix"></p>
            </div>
        </div>
    </div>
</div>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
<script>
    function delegate() {
        let settings =  ["discoverable_by_email","geo_enabled", "protected"];
        $.getJSON('/settings/twitter', function(data) { // retrieve user settings
            for (var i = 0; i < settings.length; i++){
                $("#setting-" + i + "-state > span").append("<strong>"+ data[settings[i]] + "</strong>");
            }
        }).done(function( data ) {
            $.ajax( "/score/twitter", {
                data : JSON.stringify({ "settings":data } ),
                contentType : 'application/json',
                type : 'POST'}).done(function( score ) {
                $.getJSON('/level/1/twitter', function(level) {
                    $("body > div > div.text-center > h1 > span").append("<strong>"+ level[0].name + "</strong>");
                })
            });
            for (var i = 0; i < settings.length; i++){
                generateSettingsBody("setting-" + i + "-imp", "implications", settings[i] ,data[settings[i]]);
            }

            for (var i = 0; i < settings.length; i++){
                generateSettingsBody("setting-" + i + "-fix", "instructions", settings[i] ,data[settings[i]]);
            }

        });

        function generateSettingsBody(id, type, setting, value) {
            let link = '/'+ type +'/twitter/'+setting+"/"+ value;
            $.getJSON(link, function(data) { // retrieve user settings
                if(type === "implications"){
                    $("#"+id).append("<strong>"+ data[0].description + "</strong>");
                    $("#"+id).css("white-space","pre-wrap");

                }else if (type === "instructions"){
                    $("#"+id).append("<strong>"+ data[0].instructions + "</strong>");
                    $("#"+id).css("white-space","pre-wrap");
                }
            });
        }

    }
</script>
</html>