<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Sign Up</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/signup.css" rel="stylesheet">

  <!-- Script used for ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="text-center">
<div class="container">
  <div class="row">
    <form id="signupForm" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input style="margin-bottom: -1px;" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
      <label for="inputConfirmPassword" class="sr-only">Password</label>
      <input name="confirmpassword" type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
      <div id="message">
        <p>Password Requirements:</p>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">An <b>uppercase</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="special" class="invalid">A <b>special character</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        <p id="match" class="invalid">Passwords must <b>match</b></p>
      </div>
      <div id="invalidEmail" class="invalid-email"></div>
      <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit" disabled>Sign Up</button>
    </form>
  </div>
  <div id="copyright" class="container">
    <p>Made with 🍌🔥 in Hamilton, ON by Script Kitties. &copy; 2019.</p>
  </div>
</div>
</body>
<!-- Script used to validate if email exists on signup -->
<script type="text/javascript" src="../js/SignUpHandler.js"></script>
</html>
