<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Sign In</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">

  <!-- Script used for ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="text-center">
<div class="container">
  <div class="row">
<form id="signinForm" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div id="invalidCredentials" class="invalid-credentials"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a href="/signup"><button style="margin-top:5px" class="btn btn-lg btn-secondary btn-block">Sign Up</button></a>
</form>
    </div>
  <div id="copyright" class="container">
    <p>Made with 🍌🔥 in Hamilton, Ontario by Script Kitties. &copy; 2019.</p>
  </div>
</div>
</body>
<!-- Script to handle cookies -->
<script type="text/javascript" src="../js/CookieHandler.js"></script>
<!-- Script used to handle sign in -->
<script type="text/javascript" src="../js/SignInHandler.js"></script>
</html>
